.app {
  display: flex;
  color: black;
  /* background: white/90; */
}

.sidebar-section {
  width: 25%;
  min-height: screen;
  background-color: #644536;
  border-right: 1px solid #ddd;
  padding: 1.5rem;
}

.main-section {
  flex: 1;
  padding: 20px;
}

.expandable-section {
  margin-bottom: 10px;
}

.expandable-label {
  /* font-weight: bold; */
  cursor: pointer;
  /* padding: 5px; */
  /* background-color: #e0e0e0; */
  /* margin-bottom: 5px; */
  border-radius: 4px;
}

.expandable-content {
  padding-left: 1rem;
}

.no-sub-godowns, .no-items {
  color: #888;
}

.items-list .item {
  cursor: pointer;
  padding: 5px 0;
}

.item-details {
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
}


.item-details img {
  /* min-width:50%; */
}
.item-details ul {
  list-style: none;
  padding-left: 0;
}
::-webkit-scrollbar{
  display: none;
}